body {
    margin: 0px;
    padding: 1px;
}

header {
    background-color: rgb(173, 175, 166);
    color: rgb(107, 43, 99);
    font-size: 28px;
    font-family: Calibri;
    border-bottom: 2px rgb(136, 16, 114) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    text-shadow: 2px 6px #9f7fcb
}


header img {
    width: 200px;
    height: 140px;
    padding: 0px;
    border-radius: 40px;

}

main {
    background: linear-gradient(to bottom, #babbb5, #5e765d);
    color: aliceblue;

}

nav ul {
    display: flex;
    padding: 10px;
    margin: 0;
    list-style: none;
    justify-content: center;
}

nav a {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    border: 1px gold solid;
    background-color: rgb(173, 175, 166);
    color: rgb(107, 43, 99);
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
}

p {
    font-size: 15px;
    font-family: Verdana;
    margin: 5px;

}

h2 {
    font-size: 30px;
    margin-left: 90px;
    font-family: 'Lucida Sans';
    color: rgb(81, 28, 83);

}

h3 {
    font-size: 15px;
    font-style: italic;
    color: rgb(61, 71, 68);
    margin-right: 50px;
    margin-left: 1px;
    margin-top: 90px;
}

.pina {
    display: flex;
    flex-direction: row;
    border: 4px rgb(209, 197, 197) solid;
    margin: 10px;
    padding: 1px;
    border-radius: 15px;


}

.pina img {
    width: 180px;
    height: 160px;
    margin-left: 170px;
    margin-right: 0px;

}

.mojito {
    display: flex;
    flex-direction: row;
    border: 4px rgb(209, 197, 197) solid;
    margin: 10px;
    padding: 1px;
    border-radius: 15px;

}

.mojito img {
    width: 185px;
    height: 180px;
    margin-left: 170px;
    margin-right: 1px;
}

.daiquiri {
    display: flex;
    flex-direction: row;
    border: 4px rgb(209, 197, 197) solid;
    margin: 10px;
    padding: 1px;
    border-radius: 15px;

}

.daiquiri img {
    width: 180px;
    height: 180px;
    margin-right: 0px;
    margin-left: 100px;
}