body {
    margin: 0;
    padding: 3px; background-color: rgb(128, 232, 232);

}

header {
    background-color: beige;
    color: rgb(59, 120, 226);
    font-size: 27px;
    font-family: 'Gill Sans';
    border-bottom: 2px rgb(46, 40, 222) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}


header img {
    width: 180px;
    height: 140px;
    border-radius: 40px
}

main {
    background-image: url(./Images_home/main.jpg)
}

nav ul {
    display: flex;
    padding: 10px;
    margin: 0;
    list-style: none;
    justify-content: center;
}

nav a {
    display: flex;
    font-size: 30px;
    border: 1px gold solid;
    background-color: rgb(145, 132, 157);
    color: rgb(243, 237, 241);
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
}

h2 {
    color: rgb(71, 22, 94);
    font-family: 'Franklin Gothic Medium';
}

h2+p {
    color: rgb(1, 10, 5);
    font-size: 19px;
}

h4 {
    color: rgb(49, 13, 212);
    font-family: ' Geneva ';
    text-align: center;
    font-size: 23px;
}
.end{
    color: rgb(10, 10, 10);
    text-align: center;
    font-weight: bold;
    font-size: 20px;}
