<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Kids</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='for_kids.css') }}">
</head>

<body>
    <header><img src="/static/images_kids/peppa-pig-icegif-36.gif" alt="gif">
        <h1>
            Cocktails for Kids
        </h1><img src="/static/images_kids/head.jpg" alt="head">
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('classic') }}">Classic</a></li>
                <li><a href="{{ url_for('shots') }}">Shots</a></li>
                <li><a href="{{ url_for('non_alcohol') }}">Non alkohol</a></li>
            </ul>
        </nav>
        <div>
            <p>
                As a bartender, it’s important to know how to make drinks for all ages. And while many of us may think
                that kids only drink soda or juice, there are actually a wide variety of non-alcoholic drinks that are
                perfect for children.
            </p>
            <p>
                In fact, a well-made kids cocktail can be just as delicious and satisfying as any adult beverage.
                But what makes a great kids cocktail? For starters, it should be visually appealing and fun to drink.
                Bright colors, interesting textures, and playful garnishes can all add to the experience.
            </p>
        </div>
        <section class="shirley">
            <h2>
                Shirley Temple</h2>
            <a href="https://www.recipeboy.com/how-to-make-a-shirley-temple/" target="_blank"><img
                    src="/static/images_kids/Shirley Temple.jpg" alt="shirley"></a>
            <h3>
                <<===Click on picture to see recipe</h3>
                    <p>A Shirley Temple is a non-alcoholic mixed drink. It is sometimes served to children who are
                        dining with
                        adults. People do not know if this drink was actually served to the child actress Shirley Temple
                        or if
                        it was just named after her. We might not know the whole story, but we do know that Shirley
                        Temples are
                        a kid-favorite!</p>

        </section>
        <section class="cotton">
            <h2>
                Cotton Candy Mocktails
            </h2>
            <a href="https://www.busylittlekiddies.com/cotton-candy-mocktails/" target="_blank"><img
                    src="/static/images_kids/cotton_candy.jpg" alt="cotton"></a>
            <h3>
                <<===Click on picture to see recipe</h3>
                    <p>
                        This Cotton Candy Mocktail is an easy, fun cocktail for kids or anyone looking for a cotton
                        candy
                        non-alcoholic drink to celebrate.
                        Serve this for New Year’s eve, a baby shower, or any birthday party for tons of fun.
                    </p>
        </section>
        <section class="gummy">
            <h2>
                Gummy Bear Mocktail
            </h2>
            <a href="https://princesspinkygirl.com/cotton-candy-mocktail/" target="_blank"> <img
                    src="/static/images_kids/gummy.jpg" alt="Gummy"></a>
            <h3>
                <<===Click on picture to see recipe</h3>
                    <p>
                        On a parenting note, in addition to being easy and fun, this indulgent drink can be made a touch
                        healthier. Eliminate artificial ingredients and dyes by using organic apple cider and gummy
                        bears. I
                        guarantee that the kids will never know the difference.
                    </p>
        </section>
        <footer>
            <p>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Back</a></li>
    
                </ul>
            </nav>
            </p>
        </footer>
    </main>
    <audio autoplay loop>
        <source src="/static/images_kids/peppa_pig.mp3" type="audio/mpeg">
</body>

</html>