<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <header>
        <img src="/static/Images_home/bar-bartender.gif" alt="header">
        <h1>All about the Cocktails</h1>
        <img src="/static/Images_home/header2.jpg" alt="header2">


    </header>

    <main>
        <nav>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="{{ url_for('shots') }}">Shots</a></li>
                <li><a href="{{ url_for('non_alcohol') }}">Non alcohol</a></li>
                <li><a href="{{ url_for('classic') }}">Classic</a></li>
                <li><a href="{{ url_for('for_kids') }}">For Kids</a></li>
                <li><a href="{{ url_for('handle_form') }}">Registration</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
        <article>
            <h2>THE HISTORY OF COCKTAILS: ORIGIN STORY
            </h2>
            <p>
                Cocktails were initially inspired by British punches, which contained spirits, fruit juices, and spices
                in big bowls. The term “cocktail” was first seen on March 17, 1798, as referenced from a newspaper.

                There are several theories around why cocktails are called cocktails, the most popular of which relates
                to horse racing.

                Though the origin of mixed drinks can be traced back to the 17th century, it wasn’t clear where, who,
                and how the “original” cocktail was created.

                The first-ever reference to cocktails appeared in a spoof editorial in the Farmer’s Cabinet (Amherst,
                New Hampshire, April 28, 1803).

                It talked of a “lounger” who, while nursing an 11 a.m. hangover, “Drank a glass of cocktail – excellent
                for the head…”

                But it wasn’t until 1806 when The Balance and Columbian Repository of Hudson, New York pinned the
                definition down to what we know of cocktails today: “A stimulating liquor composed of any kind of sugar,
                water, and bitters.”
            </p> <br>
            <h2>
                THE ART OF BARTENDING</h2>
            <p>
                As cocktails made their way into becoming a social badge of honour during the Shakespearean times,
                developments into the mood-altering effects of booze turned mixing drinks and bartending into big
                news.

                Jerry Thomas or Professor Thomas, an American bartender, helped define the art of bartending. Using
                the experience he gained from working all over Europe and America, he wrote “The Bartender’s Guide
                (or How to Mix Drinks).”

                It is one of the first comprehensive recipe books that became a standard-bearer for new and
                experienced bartenders alike, becoming a significant milestone from the Golden Age of the history of
                cocktails.
            </p> <br>
            <h2>
                EXPORTING OF ICE </h2>
            <p>
                The story of how cocktails came to be will never be complete without mentioning the role of ancient,
                even primordial – ice!

                Before Frederic “Ice King” Tudor, ice was hard to transport.

                But thanks to his perseverance and dream of hauling it from colder climates to warmer ports, he made
                it possible for anyone to enjoy an iced drink at any time.

                This shift in availability influenced the invention and popularity of cocktails in and around the
                U.S., eventually fuelling their rise in other parts of the world as well.
            </p> <br>
            <h2>
                THE PROHIBITION ERA
            </h2>
            <p>It’s not always rainbows and sunshine, even for the fancy and colourful cocktails.

                When the National Prohibition Act (a.k.a. the Volstead Act) turned into the 18th Amendment and went into
                effect on January 17, 1920, the cocktail world was thrown in a loop.

                The law forbade the production of beverages that contained more than half a percent (0.5%) alcohol. Most
                breweries, wineries, and distilleries across America shuttered their doors, never to reopen again.

                Even though Prohibition sent the cocktail industry (alcohol world) underground to develop, it still
                dealt a major blow.

                Many talented bartenders moved abroad to continue their trade. Even after the law was repealed, the
                development of the American cocktails industry remained sluggish until recently.</p>
        </article>
        <h4>
            <a href="https://thecocktailsociety.uk/the-history-of-cocktails/">CLICK</a> if you want to know more
        </h4>
        <p class="end">Site was made by Pryyemskyy Vitaliy 2023 </p>
    </main>
    
</body>

</html>




