<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non alcohol</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='non_alcohol.css') }}">
</head>

<body>
    <header><img src="/static/images_non_alcoholic/output_ifQIGu.gif.webp" alt="gif">
        <h1>Non alcoholic cocktails</h1><img src="/static/images_non_alcoholic/head.jpg" alt="head">
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="/classic.html">Classic</a></li>
                <li><a href="{{ url_for('shots') }}">Shots</a></li>
                <li><a href="{{ url_for('for_kids') }}">For Kids</a></li>
            </ul>
        </nav>
        <div>
            <p>
                If you're the only one at the party without a drink in your hand, you could feel left out. Having a
                non-alcoholic margarita to cheer with at a party is much more festive! Many feel uplifted when consuming
                zero-proof cocktails because they know they will stay sharp all night, and wake up feeling refreshed.
            </p>
            <p>
                Studies show that drinking non-alcoholic beer can reduce your risk of heart disease, aid bone growth and
                even reduce your chance of getting illnesses like the common cold. And that's not all; many zero-alcohol
                drinks contain vitamins and minerals including folic acid, potassium, iron and zinc.
            </p>
        </div>
        <section class="margarita">
            <h2>
                Virgin Margarita
            </h2><a href="https://www.isabeleats.com/virgin-margarita/" target="_blank"><img
                    src="/images_non_alcoholic/virgin-margarita-2.jpg" alt="margarita"></a>
            <h3>
                <<===Click on picture to see recipe</h3>
                    <p>A margarita with no alcohol is made with fresh citrus juices, agave nectar, and topped with
                        sparkling
                        water.
                        Served on the rocks, this virgin cocktail is perfect for sipping poolside, as a refreshing treat
                        at a
                        hot
                        summer barbecue, or when you want to shake things up on taco Tuesday. It can even be made with
                        more fun
                        flavors or blended with ice if you want!</p>
        </section>
        <section class="appletini">
            <h2>
                Appletini Mocktail
            </h2><a
                href="https://www.entertainingdiva.com/recipes/appletini-mocktail/?image=1&board=holidaysandevents&sz=amo&dt=20210323"
                target="_blank"><img src="/images_non_alcoholic/appletini-mocktail.jpg" alt="appletini"></a>
            <h3>
                <<===Click on picture to see recipe</h3>
                    <p>
                        People looking for a non-alcoholic choice love the Appletini Mocktail because of its
                        adaptability and
                        delicious flavor.

                        This mocktail, made with apple juice, zesty lemon juice, and a splash of Granny Smith apple
                        syrup, is
                        one of the finest virgin drinks because of the pleasant explosion of fruity and citrus tastes it
                        provides.

                        Raise your glass, take a drink, and let the Appletini Mocktail’s exquisite tastes whisk you away
                        to an
                        apple-infused paradise.
                    </p>
        </section>
        <section class="Sunrise">
            <h2>Summer Sunrise</h2>
            <a href="https://mocktail.net/virgin-summer-sunrise-mocktail/" target="_blank"><img
                    src="/images_non_alcoholic/Summer Sunrise.jpg" alt="Sunrise"></a>
            <h3>
                <<===Click on picture to see recipe</h3>
                    <p>
                        TROPICAL SUNRISE MOCKTAIL – THE PERFECT SUMMER DRINK
                        There's nothing like a fruity drink on warm summer evenings! The Tropical Sunrise mocktail is a
                        non-alcoholic variation of the classic Tequila Sunrise – except even more delicious! Find this
                        quick and
                        easy mocktail recipe down below.
                    </p>



        </section>
        <footer>
            <p>
            <nav>
                <ul>
                    <li><a href="/index.html">Back</a></li>

                </ul>
            </nav>
            </p>
        </footer>
    </main>
</body>

</html>