<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shots</title>
    <link rel="stylesheet" href="/shots.css">
</head>

<body>
    <main>
        <header><img src="./images_shots/001_un06zvU1.gif" alt="gif">
            <h1>Shots</h1>
            <img src="/images_shots/head_shot.jpg" alt="head">

        </header>
        <main>
            <nav>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./classic.html">Classic</a></li>
                    <li><a href="./non_alcohol.html">Non alkohol</a></li>
                    <li><a href="./for_kids.html">For Kids</a></li>
                </ul>
            </nav>
            <div>
                <p>
                    In modern drinking times, a ‘shot’ means a small measure of alcohol. A ‘shot’ generally refers to an
                    ounce of straight spirit i.e tequila, vodka, Highland Boundary. A quick one-gulp ounce of spirit,
                    which
                    is usually taken as a side to a larger drink. A ‘shooter’ on the other hand will generally be a
                    spirit
                    mixed with something sweeter and come in all sorts of bright colours.
                </p>
                <p>
                    A phenomenon from the late 50s and 60s cocktail era. A marketing ploy by bartenders and pubs
                    throughout
                    the USA to enhance sales. And thus became the shot culture as we know it.
                </p>
            </div>
            <section class="b-52">
                <h2>
                    B-52 Shot
                </h2>
                <a href="https://www.liquor.com/recipes/b-52/" target="_blank"><img src="/images_shots/b-52.jpg"
                        alt="b-52"></a>
                <h3>
                    <<===Click on picture to see recipe</h3>
                        <p>
                            The B-52 is a popular, eye-catching shot composed of three liqueurs: Baileys Irish cream,
                            Grand
                            Marnier
                            and coffee liqueur. The drink’s origin is not completely clear, but rather than being named
                            for
                            the
                            1950s-built B-52 bomber, it is believed to have originated during the 1970s by a bartender
                            and
                            fan of
                            the iconic band The B-52s.
                        </p>
            </section>
            <section class=" bazooka">
                <h2>
                    Bazooka Joe
                </h2>
                <a href="http://www.cocktailhunter.com/recipe/bazooka-bubble-gum-shot/" target="_blank"><img
                        src="/images_shots/bazooka-joe-shot.jpg" alt="bazooka"></a>
                <h3>
                    <<===Click on picture to see recipe</h3>
                        <p>If you are old enough to remember Bazooka bubble gum, you should love this alcoholic grown-up
                            bubble gum
                            shot. The Bazooka Bubble Gum shot tastes just like bubble gum. If you need a party drink
                            idea,
                            try this
                            little tasty shot.</p>
            </section>
            <section class="rose">
                <h2>Black Rose</h2>
                <a href="https://www.thespruceeats.com/black-rose-shooter-recipe-761007" target="_blank"><img
                        src="/images_shots/Black-Rose.jpg" alt="rose"></a>
                <h3>
                    <<===Click on picture to see recipe</h3>
                        <p>
                            The black rose is a fun shooter for Halloween. It will also work for any other occasion that
                            calls for
                            something on the darker side. In the realm of shots, this recipe is a treasure because it
                            not
                            only
                            tastes good, but it also has a fun visual effect.
                        </p>
            </section>
        </main>
        <footer>
            <p>
            <nav>
                <ul>
                    <li><a href="index.html">Back</a></li>

                </ul>
            </nav>
            </p>
        </footer>

</body>

</html>